<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Post-it Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:fragment="navbar">
        <div th:replace="fragments/navbar :: navbar"></div>

</head>

<body>
<div th:replace="fragments/styles :: head-styles"></div>
<div class="container">
<!--    <img class="spinner-grow"  src="resources/static/images/Sheep.png"  width="50" th:src="@{images/Sheep.png}"/>-->
    <h1>Create a New Blog Post Here</h1>
    <form action="#" th:action="@{/blogposts}" th:object="${blogPost}" method="post">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Blog Title..." th:field="*{title}"/>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name Here..." th:field="*{author}"/>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Blog Entry" th:field="*{blogEntry}"/>
        </div>

        <button class="btn btn-dark">Submit Your Post</button>
    </form>
</div>
<div th:replace="fragments/styles :: scripts"></div>
</body>
</html>